<div class="hero min-h-screen bg-base-200">
  <div class="flex-col justify-center hero-content lg:flex-row">
    <div class="text-center lg:text-left">
      <img src="../../../assets/loading.gif" style="background: url(../../../assets/loading.gif);"/>
      <h1 class="mb-5 text-5xl font-bold">Find Your Doc</h1>
      <p class="mb-4">
        Connect with your medical providers on a secure and private application
        which takes care of all your medical needs.
      </p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(username?.value, password?.value)">
          <div class="form-group">
            <input type="text" placeholder="Username" class="input input-bordered form-control" formControlName="username" />
            <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
              <div class="text-red-500 text-xs"  *ngIf="username?.errors?.required">Username is required.</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" placeholder="password" class="input input-bordered form-control " formControlName="password" />
            <label class="label">
              <a href="#" class="label-text-alt">Forgot password?</a>
            </label>
            <div class="text-red-500 text-xs"  *ngIf="loginError">Username/Passowrd is not correct.</div>
          </div>
          <div class="form-group mt-6">
            <input type="submit" value="Login" class="btn btn-primary form-control" />
          </div>
          <div class="form-group mt-6">
            <input type="button" value="Register" class="btn btn-primary form-control" routerLink="/register" />
          </div>
      </form>
    </div>
    </div>
  </div>
</div>
