<div class="hero min-h-screen bg-base-200">
  <div class="flex-col justify-center hero-content lg:flex-row">
    <div class="text-center lg:text-left">
      <img src="../../../assets/loading.gif" style="background: url(../../../assets/loading.gif);"/>
      <h1 class="mb-5 text-5xl font-bold">Find Your Doc</h1>
      <p class="mb-4">
        Connect with your medical providers on a secure and private application
        which takes care of all your medical needs.
      </p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(username?.value, password?.value)">
        <div class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Username</span>
            </label>
            <input type="text" placeholder="Username" class="input input-bordered" formControlName="username" />
            <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
              <div class="text-red-500 text-xs"  *ngIf="username?.errors?.required">Username is required.</div>
            </div>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" placeholder="password" class="input input-bordered" formControlName="password" />
            <label class="label">
              <a href="#" class="label-text-alt">Forgot password?</a>
            </label>
          </div>
          <div class="form-control mt-6">
            <input type="submit" value="Login" class="btn btn-primary" />
          </div>
          <div class="form-control mt-6">
            <input type="button" value="Register" class="btn btn-primary" routerLink="/register" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
