
<div class="row">
  <div class="col-md-8 offset-md-2">
    <blockquote class="blockquote">
      <p class="mb-0 h3 display-4">Prescription Records</p>
      <div class="row-md-6"  *ngIf="currentView">
        <a [routerLink]="['list', userId]" class="btn btn-primary btn-block float-right" style="margin: 5% 0 5% 0;">Go To Records</a>
      </div>
      <div class="row-md-6"  *ngIf="currentView">
        <a [routerLink]="['upload', userId]"  class="btn btn-success btn-block float-right" style="margin: 0 0 5% 0;">Upload New Record</a>
      </div>
    </blockquote>
    <router-outlet></router-outlet>
  </div>
</div>
