<div class="card lg:card-side bordered">
  <div class="card-body">
    <h2 class="card-title">Events for Today</h2>
    <div class="overflow-x-auto">
      <table class="table w-full table-zebra">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Time</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of videoCalls; let i = index">
            <th>{{i+1}}</th>
            <td>{{item.title}}</td>
            <td>{{item.time | date:
              'mediumDate' }}</td>
            <td>
              <div class="badge">{{item.status}}</div>
            </td>
            <td>
              <div class="btn btn-primary" [routerLink]="['/call', item.id]">
                Join Call</div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card lg:card-side bordered" *ngIf="doctorView">
  <div class="card-body">
    <h2 class="card-title">New Requests</h2>
    <div class="overflow-x-auto">
      <table class="table w-full table-zebra">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Time</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let call of unApprovedCalls; let i = index">
            <th>{{i+1}}</th>
            <td>{{call.title}}</td>
            <td>{{call.time | date:
              'mediumDate' }}</td>
            <td>
              <div class="btn btn-primary" (click)="approveCallRequest(call.id)">
                Approve</div>
            </td>
            <td>
              <!-- <div for="my-modal-2" class="btn btn-primary modal-button" >
                Reschedule</div> -->
                <label for="my-modal-2" class="btn btn-primary modal-button" (click)="startReschedule(call)">Reschedule</label>
                <input type="checkbox" id="my-modal-2" class="modal-toggle">
                <div class="modal">
                  <div class="modal-box">
                    <select class="select select-bordered w-full max-w-xs" [(ngModel)]="newEventTimeSlot">
                      <option disabled="disabled" selected="selected" value="default">Choose Appointment Time</option>
                      <option *ngFor="let slot of timeSlots;">{{slot}} </option>
                    </select>
                
                    <div class="modal-action">
                      <label for="my-modal-2" class="btn btn-primary" (click)="rescheduleEvent()">Accept</label>
                      <label for="my-modal-2" class="btn">Close</label>
                    </div>
                  </div>
                </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


