<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box">
  <div class="flex-none hidden lg:flex">
    <button class="btn btn-square btn-ghost" routerLink="['/']">
      <img src="../assets/appLogo.png" />
    </button>
  </div>
  <div class="flex-1 hidden px-2 mx-2 lg:flex">
    <span class="text-3xl font-bold"> FInd Your Doc </span>
  </div>
  <div class="flex-1 lg:flex-none">
    <div class="form-control px-1 mx-1">
      <button class="btn btn-ghost">Get App</button>
    </div>
  </div>
</div>
